<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property testValues="connection.url"/>
    <property testValues="connection.driver_class"/>
    <property testValues="connection.username"/>
    <property testValues="connection.password"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property testValues="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>